<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/maingame.css') }}">
    <script type="text/javascript" src="/static/js/sha256.js"></script>
    <title>Blockchain Game</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <a onclick="window.location.href='/'">Blockchain Game</a>
                
                <div class="buyingpowerbox">
                    <p>{{balance}} Bitcoin</p>
                </div>
            </div>
            <hr style="width:100%;", size="3", color=white>  
        </div>

        <div class="maintop">
            <div class="column1">
                <div class="instbox">
                    <h2>The mining difficulty is at {{difficulty}} leading zeros </h2>
                    <h2 id="difficulty">{{difficulty_num}}</h2>
                </div>
            </div>

            <div class="column2">
                <div class="block">
                    <p> Blockchain Message</p>
                    <h2> {{blockchain_message}} </h2>
                    <p> Blockchain Hash</p>
                    <h2 id="blockhash"> {{blockchain_hash}} </h2>
                </div>
                <div class="miningbox">
                    <!--create a form that has two vertical buttons, one named random hash, and another named verify-->
                    <div class="noncewrapper">
                        <div class="noncevalue" id="noncevalue">
                            <p>Nonce</p>
                            <hr style="width:80%;", size="1", color=white>  
                        </div>
                        <div class="equalssign">
                            <img id="arrow" src="/static/img/arrow.png">
                        </div>
                        <div class="hashvalue" id="hashvalue">
                            <p>Hash</p>
                            <hr style="width:80%;", size="1", color=white> 
                        </div>
                    </div>

                    <form action="/mining" method="post" id="miningform" class="miningform">
                        <input type="button" value="Random Nonce" name="random_hash" onclick="randomNonce()">
                        <input type="button" value="Verify" name="verify">

                    </form>

                </div>
            </div>

            <div class="column3">
            </div>
            
        </div>
    </div>
</body>

</html>
