<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maingame.css') }}">
    <script type="text/javascript" src="/static/js/sha256.js"></script>
    <title>Blockchain Game</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <a onclick="window.location.href='/'">Blockchain Game</a>
        
                <div class="buyingpowerbox" id="buyingpowerbox">
                    <p>{{balance}} Bitcoin</p>
                </div>
            </div>
            <hr style="width:100%;", size="3", color=white>  
        </div>

        <script>
            queryForIncoming('{{game_name}}','{{username}}')
        </script>

        <div class="maintop">
            <div class="column1">
                <div class="instbox">
                    <h1> Game Info </h1>
                    <hr style="width:70%;", size="1", color=grey>
                    <h2>The mining difficulty is at {{difficulty}} leading zeros </h2>
                    <h2 id="difficulty">{{difficulty_num}}</h2>
                </div>
                <div class="gamename">
                    <p id="gamename"> {{game_name}} </p>
                    <p id="username"> {{username}} </p>
                </div>
                
            </div>

            <div class="column2">

                <div class="flip_box_container">
                    <div class='flip_box' id='flip_box'>

                        <div class="front" id="block">
                            <p> Blockchain Message</p>
                            <h2> {{blockchain_message}} </h2>
                            <p> Blockchain Hash</p>
                            <h2 id="blockhash"> {{blockchain_hash}} </h2>
                            <h2 id="blockheight" style="color:darkblue"> Blockchain Height: {{blockchain_height}} </h2>
                        </div>
                    
                        <div class='back'>
                        <h1 class='b_headline'>Ledger</h1>
                        <p class='b_text'>
                            <textarea readonly class="scrollabletextbox">
                                {{ledger}}
                            </textarea>
                        </p>
                        </div>
                    
                    </div>
                    
                    <div class='r_wrap'>
                    
                        <div class='b_round'></div>
                        <div class='s_round'>
                        <div class='s_arrow'></div>
                        </div>
                    </div>
                </div>

                <div class="miningbox">
                    <!--create a form that has two vertical buttons, one named random hash, and another named verify-->
                    <form method="post" id="miningform" class="miningform">
                        <div class="noncewrapper">
                            <div class="noncevalue" id="noncevalue">
                                <p>Nonce</p>
                                <hr style="width:80%;", size="1", color=white>  
                            </div>
                            <div class="equalssign">
                                <img id="arrow" src="/static/img/arrow.png">
                            </div>
                            <div class="hashvalue" id="hashvalue">
                                <p>Hash</p>
                                <hr style="width:80%;", size="1", color=white> 
                            </div>
                        </div>

                        <div class="buttons">
                            <input type="button" value="Random Nonce" name="random_hash" onclick="randomNonce('{{game_name}}','{{username}}', '{{difficulty_num}}', '{{blockchain_hash}}');">
                            <input type="button" value="Send to Network" name="verify" onclick="sendToNet('{{game_name}}','{{username}}');">
                        </div>
                        

                    </form>

                </div>
            </div>

            <div class="column3">
                <div class="requests" id="requests">
                    {% for i in range(heights|length) %}
                    <div class="requestbox" id="{{ids[i]}}"> <!--hide the username within this html-->
                        <h1> Request </h1>
                        <hr style="width:70%;", size="1", color=grey>
                        <h2>Block hash: {{hashes[i]}}</h2>
                        <h2>Block height: {{heights[i]}}</h2>
                        
                        <div class="buttonbox">
                            <input class="accept" type="button" value="Accept" name="accept" onclick="accept_reject('{{game_name}}', '{{username}}' , 'accept', '{{ids[i]}}')">
                            <input class="reject" type="button" value="Reject" name="reject" onclick="accept_reject('{{game_name}}', '{{username}}' , 'reject', '{{ids[i]}}')">
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>
