<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="/static/js/main.js"></script>
    <title>Blockchain Game</title>


</head>

<body>
    <div class="container">
        <div class="titlebox">
            <div class="maintitle">
                <h3>The</h3>
                <h1>Blockchain Game</h1>
                <hr style="box-shadow: 2px 2px 10px rgb(255, 255, 255);">
                <div class="buttoncontainer">
        
                    <div class="roundedbuttonhelp" >
                        <h2 onClick="document.getElementById('container2').scrollIntoView();" >Rules</h2>
                    </div>
                    <div class="roundedbutton" style="margin-left:50px;">
                        <h2 onclick="window.location.href='/play'">Lets Play</h2>
                    </div>
                </div>
                
            </div>
            <img class="isometric1" src="/static/img/isometric1.png">

        </div>
    </div>

    <div class="container2" id="container2">
        <!--
        <div class="title_header_white">
            <h1>How to Play</h1>
        </div>


        <div class="instructionbox">
            
            <div class="instructions">

            </div>
            <img class="isometric2" src='/static/img/isometric2.png'>
            -->
            <div class="slider">
                <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
                <input type="radio" name="slider" title="slide2" class="slider__nav"/>
                <input type="radio" name="slider" title="slide3" class="slider__nav"/>
                <input type="radio" name="slider" title="slide4" class="slider__nav"/>
                <div class="slider__inner">

                  <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
                    <div class="title_header_white">
                        <h1>How to Play</h1>
                    </div>
                    
                    <div class="howto_container">
                        <div class="howto_container_text">
                            <h2 class="slider__caption">Enter a game</h2>
                            <p class="slider__txt">
                            Connect to your game session through the game ID and enter your username.
                            A lobby of players mimics a network of miners.
                        </p>
                        </div>
                        <img class="isometric2" src="/static/img/isometric2.png">
                    </div>
                  </div>


                  <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
                    <div class="howto_container">
                        <div class="howto_container_text">
                            <h2 class="slider__caption">Start mining!</h2>
                            <p class="slider__txt">
                                Using the SHA 256 algorithm, the game will generate a hash of the current block.
                                Once a player finds the correct hash, they can send it to the network which will either send it
                                to all the players, 10 players, 5 players, or 2 players. This is to simualate the network and the
                                fragmentation within the blockchain.
                            </p>
                        </div>
                        <img class="isometric3" src="/static/img/isometric3.png">
                    </div>
                  </div>

                  <div class="slider__contents"><i class="slider__image fa fa-television"></i>
                    <div class="howto_container">
                        <div class="howto_container_text">
                            <h2 class="slider__caption">Accept or Reject Requests</h2>
                            <p class="slider__txt">
                                Players will recieve blockchain requests from other players. Players will then have the 
                                choice to accept incoming request blockchains or reject it. 

                            </p>
                        </div>
                        <img class="isometric4" src="/static/img/isometric4.png">
                    </div>
                  </div>

                  <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                    <div class="howto_container">
                        <div class="howto_container_text">
                            <h2 class="slider__caption">Longest chain wins</h2>
                            <p class="slider__txt">
                                Being on the longest blockchain, or the block with the largest block height is the goal of the game,
                                as fragmentation within the blockchain will result in players contributing to shorter chains resulting in no block rewards.
                            </p>
                            <div class="roundedbutton2">
                                <h2 onclick="window.location.href='/play'">Lets Play</h2>
                            </div>
                        </div>
                        <img class="isometric5" src="/static/img/isometric5.png">
                    </div>
                    
                  </div>
                </div>
              </div>
            
        </div>

    </div>
</body>

</html>
