<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainlobby.css') }}">
    <script type="text/javascript" src="/static/js/main.js"></script>
    <title>Blockchain Game</title>


</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <a onclick="window.location.href='/'">Blockchain Game</a>
                <div class="buyingpowerbox">
                    <h2>{{game_name}} | (PublicKey)</h2>
                </div>
            </div>
            <hr style="width:100%;", size="3", color=white>  
        </div>

        <div class="maintop">
            <div class="textbox">
                <div class="playercount">
                    <h2> {{(list_of_players|length)}} players </h2>
                </div>


                <div class="lobby_title">
                    <h1>{{game_name}}</h1>
                    <p>Game ID</p>
                </div> 
                
                <button class="next_button" onclick="window.location.href='/{{game_name}}/{{username}}/game'">
                    Start
                </button>

            </div>
            
            <hr style="width:70%; margin: auto; box-shadow: 5px 5px 15px #fafafa;", size="1", color=white> 
        </div>

        <div class="users_container">
            <div class="grid-container">
                {% for i in range(list_of_players|length) %}
                <div class="grid-item">
                    <h2>{{list_of_players[i]}}</h2>
                </div>
                {% endfor %}
              </div>
        </div>
    </div>
</body>

</html>
