<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainlobby.css') }}">
    <script type="text/javascript" src="/static/js/main.js"></script>

    <title>Blockchain Game</title>


</head>


<body>
    <div class="container" id="main">
        <div class="header">
            <div class="title">
                <a onclick="window.location.href='/'">Blockchain Game</a>
                <div class="buyingpowerbox">
                    <h2>{{game_name}} | {{username}} </h2>
                </div>
            </div>
            <hr style="width:100%;", size="3", color=white>  
        </div>

        <div class="maintop">
            
            <div class="textbox">
                <div class="playercount" id="playercount">
                    <h2> {{(list_of_players|length)}} players </h2>
                </div>


                <div class="lobby_title">
                    <h1>{{game_name}}</h1>
                    <p>Game ID</p>
                </div> 
                
                <button class="next_button" onclick="ready('{{game_name}}', '{{username}}', '{{connection}}')"> <!-- onclick="window.location.href='/game/{{game_name}}/{{username}}'"-->
                    Ready
                </button>

            </div>
            
            <hr style="width:70%; margin: auto; box-shadow: 5px 5px 15px #fafafa;", size="1", color=white> 
        </div>

        <div class="instructionbox">
            <div class="box1">
                <h2>Difficulty</h2>
                <hr style="width:80%;", size="1", color=white>
                <div class="content_wrapper">
                    <img src="/static/img/target.png" class="difficultyimg">
                </div>
                <h2> Miners are using the SHA256 hash function to search for a hash with {{difficulty}} zero
                    preceding the hash.
                </h2>
                

            </div>
            <div class="box2">
                <h2>Number of connections</h2>
                <hr style="width:80%;", size="1", color=white>
                <div class="content_wrapper">
                    <img src="/static/img/connection.png" class="connectionimg">
                </div>
                <h2>To replicate a live network, miners are connected to {{connection_per}}% of all miners in the network.</h2>
            </div>
            <div class="box3">

                <h2>Are you on the longest blockchain?</h2>
                <hr style="width:80%;", size="1", color=white>
                <div class="content_wrapper">
                    <img src="/static/img/blockchain.png" class="blockchainimg">
                </div>
                <h2>Transactions and rewards are only gaurenteed for the longest blockchain, 
                    meaning fragmented chains will not be rewarded. 
                </h2>

            </div>
            <div class="box4">
                <h2>Verify requests</h2>
                <hr style="width:80%;", size="1", color=white>
                <div class="content_wrapper">
                    <img src="/static/img/agenda.png" class="agendaimg">
                </div>
                <h2>Miners can send falsified ledgers for verification and adoption by other miners. 
                    Verify incoming requests and avoid mining incorrect blocks. </h2>
            </div>
        </div>


        <div class="users_container">
            <script> 
                $(function(){
                    window.setInterval(function(){
                        loadPlayerAjax('{{game_name}}');
                        loadPlayerNum('{{game_name}}');
                        game_start('{{game_name}}', '{{username}}');
                    }, 2500)

                    function loadPlayerAjax(game_name) {
                        $.ajax({
                            url: `/api_players/${game_name}`,
                            type: "POST",
                            datatype: "json",
                            success: function(data) {
                                $(playergrid).replaceWith(data);
                                
                            }
                        });
                    }
                    function loadPlayerNum(game_name) {
                        $.ajax({
                            url: `/api_num_players/${game_name}`,
                            type: "POST",
                            datatype: "json",
                            success: function(data1) {
                                $(playercount).replaceWith(data1);
                                
                                    }
                        });
                    }
                    function game_start(game_name, username) {
                        $.ajax({
                            url: `/api_gamestart/${game_name}/${username}`,
                            type: "POST",
                            datatype: "json",
                            //on success redirect to game
                            success: function(data) {
                                if (data == "success") {
                                    console.log(data);

                                    window.location.href = `/game/${game_name}/${username}`;
                                }
                                else {
                                    console.log("Game is not ready yet");
                                }
                            }
                        });
                    }

                });

                
            </script>

            <div class="grid-container" id="playergrid">
                {% for i in range(list_of_players|length) %}
                <div class="grid-item">
                    <h2>{{list_of_players[i]}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</body>

</html>
